@media screen and (max-width: 450px) {
  /* header-area-desing */
  #head {
    width: 100%;
    height: auto;
  }
  nav > h3 {
    font-size: 30px;
    font-weight: 600;
    margin-top: 10px;
    margin-left: 10px;
  }
  ul {
    margin-right: 20px;
    margin-top: 10px;
  }
  /* bannar-desin */
  .bannar {
    width: 100%;
    height: auto;
    margin: 60px auto;
    text-align: left;
  }
  h1 {
    font-size: 35px;
    font-weight: 500;
    text-align: left;
  }
  /* section-1-desing */
  .parent {
    width: 100%;
    margin: 10px auto;
    height: auto;
    flex-direction: column;
  }
  .contain {
    width: 100%;
    height: auto;
    margin: 0 auto;
  }
  h2 {
    font-size: 35px;
    font-weight: 600;
  }
  .about {
    text-align: left;
  }
  .imgs {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 10%;
    margin-bottom: 10px;
  }
  /* section arra-2 */
  .desh {
    width: 100%;
    height: auto;
    margin: 40px auto;
    border-radius: 10px;
    margin: 18px auto auto auto;
  }
  h4 {
    font-size: 30px;
    margin-top: 10px;
  }
  /* section-2-deisng */
  .elder {
    width: 100%;
    height: auto;
    margin: 0 auto;
    flex-direction: column;
  }
  .elder .child {
    height: 121px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 6px;
    border: solid white;
  }
  .pop,
  .parent-child {
    margin-left: 80px;
  }
  /* section-3-desing== */
  .hover-service {
    height: auto;
    width: 100%;
    margin: 0 auto;
  }
  .old-contain {
    flex-direction: column;
  }
  .mothe {
    padding-top: 10px;
    height: auto;
    width: 100%;
    padding-top: 10px;
  }
  .span {
    margin-left: 5px;
  }
  .manu {
    display: flex;
    width: auto;
    height: 46px;
  }
  .mama {
    border-radius: 7px;
    display: block;
    border-radius: 12px;
    margin: 5px 8px;
  }
  /* <section-5-desig */
  .contain-area {
    width: 100%;
    height: auto;
    margin: 50px auto;
    padding-top: 10px;
    border-radius: 8px;
  }
  .position {
    text-align: left;
    margin-left: 10px;
  }
  .large {
    width: auto;
    text-align: left;
  }
  .shavi {
    width: 100%;
    height: auto;
    margin: 0;
  }
  .namee {
    border-radius: 8px;
    display: block;
    width: 100%;
    height: 100%;
  }

  /* footer-area-desing*/
  .from {
    width: 100%;
    height: auto;
    flex-direction: column;
    margin: 20px auto;
  }
  .left {
    width: 100%;
    height: 100%;
    background: tomato;
  }
  .leftt .centtar {
    width: auto;
    height: auto;
    margin-top: 10px;
    text-align: left;
  }
  .centtar > h4 {
    font-size: 47px;
    font-weight: bold;
    text-align: left;
  }
  .right {
    height: auto;
    width: 100%;
    margin: 10px auto;
  }
  input {
    background: white;
    width: 98%;
  }
  textarea {
    width: 100%;
    margin-top: 10px;
  }
  #area {
    padding: 20px;
  }
  .small2 > h6 {
    font-size: 16px;
    padding-top: 10px;
    box-sizing: border-box;
  }
  /* footer-area */
  .foot {
    width: 100%;
    height: auto;
    margin: 40px auto;
    text-align: left;
  }
  .foot > h1 {
    margin: 5px;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
  }
  .only {
    text-align: left;
  }
  .sad {
    display: flex;
    text-align: left;
    gap: 2px;
    width: 100;
  }
  .user {
    text-align: left;
    cursor: pointer;
  }
  .user > a {
    color: black;
    font-size: 16px;
  }

  .banana {
    width: 100%;
    height: 160px;
    margin: 10px auto;
    text-align: center;
  }
  #apple {
    margin: 30px auto;
    font-size: 30px;
    padding: 6px 20px;
    transition: 2s;
    width: 150px;
    height: 80px;
    border: 1px #ffffff;
    border-radius: 6px;
  }
  .common {
    border: solid blue;
  }
}
